//
// Typography
//

// Typefaces
$typeface-display:				Arial, sans-serif;
$typeface-body:					Arial, sans-serif;
$typeface-mono:					Consolas, Lucida Console, monospace;

// Base
// Golden Ratio Typography Calculator: http://www.pearsonified.com/typography
$px-font-size:					16; // F.e. 16
$px-line-height:				24; // F.e. 24

$base-font-size:				($px-font-size / 16) * 1rem;
$base-line-height:				($px-line-height / $px-font-size);

$rhythm:						($base-font-size * $base-line-height);
$rhythm-offset:					0.75; // Unitless value relative to 1em.

// Cap height
// This value may vary for each font and base setting. Unitless value relative to 1em.
$cap-height:					0.0125; // F.e. 0.02

// Headers and paragraphs
// The leaders and trailers are calculated in rhythm rows.
$header-leader:					0.5;
$header-trailer:				0;

$paragraph-leader:				0;
$paragraph-trailer:				1;

// Modular scale
$modular-scale:					"augmented fourth"; // See "functions/calc-font-sizes" for all preset scales
$font-sizes: 					(xs, s, m, l, xl, xxl);
$font-size-default:				s;

// Font sizes
$font-sizes: 					calc-font-sizes($modular-scale, $font-sizes, $font-size-default);

$font-size-xs:					map-get($font-sizes, xs);
$font-size-s:					map-get($font-sizes, s);
$font-size-m:					map-get($font-sizes, m);
$font-size-l:					map-get($font-sizes, l);
$font-size-xl:					map-get($font-sizes, xl);
$font-size-xxl:					map-get($font-sizes, xxl);

// Weights
$font-weight-normal:			400;
$font-weight-bold:				700;

//
// Alignment
//

// The distances and sizes are calculated in rhythm rows.
$distance-xs:					$rhythm * 0.5;
$distance-s:					$rhythm * 1;
$distance-m:					$rhythm * 2;
$distance-l:					$rhythm * 4;

$size-xs:						$rhythm * 0.5;
$size-s:						$rhythm * 1;
$size-m:						$rhythm * 2;
$size-l:						$rhythm * 4;

//
// Grid
//

$grid-gutter: 					$rhythm;

$grid-use-push:					false;
$grid-use-pull:					false;
$grid-use-offset:				true;

$grid-breakpoints: 				(mobile: 0, small: 40rem, medium: 60rem, large: 80rem);

//
// Colors
//

// Base
$black:							#35342f;
$white:							#ffffff;
$gray:							#c6c6c6;
$gray-light:					rgba($gray, 0.25);

$blue:							#08327d;
$red:							#f54123;
$yellow:						#ffe33c;

$brand:							$yellow;

$bg-color:						$white;
$bg-footer-color:				$bg-color;
$rhythm-color:					lighten($blue, 50%);
$text-color:					$black;

// Anchors
$anchor:						$text-color;
$anchor-hover:					$text-color;

//
// Animations
//

$speed-slow:					1s;
$speed-normal:					0.5s;
$speed-fast:					0.25s;

//
// Borders
//

$border-width:					0.125rem;
$border-radius:					0.125rem;
