@import 'functions/calc-font-sizes',
		'variables.scss',
		'mixins/vertical-rhythm';

//
// Typography
//

h1, .h1 {
	@include vertical-rhythm($font-size-xl);
}

h2, .h2 {
	@include vertical-rhythm($font-size-l);
}

h3, .h3 {
	@include vertical-rhythm($font-size-m);
}

h4, .h4,
h5, .h5,
h6, .h6,
p,
code,
dl,
ol,
ul {
	@include vertical-rhythm;
}

code {
	font-family: $typeface-mono;
}

ol {
	padding-left: 1.375em;
}

ul {
	padding-left: 1.0625em;
}

small {
	@include vertical-rhythm($font-size-xs);

	display: block;
}

blockquote {
	@include vertical-rhythm($font-size-m);
}
